#main-logo{
    height: 40px;
    width: 40px;
}
#menuContainer{
    background-color: #324D5C;
    position: fixed;
    width: 100%;
    height: 56px;
    z-index: 9;
    color: white;
    top: 0px;    
}
.branding{
    padding: 5px !important;
    border-top: none !important;
    border-right: none !important;
}
#menuContainer > .item{
    padding: 15px;
    color: white;
    cursor: default;   
    display: inline-block;

}